* {
    width: auto;
}

td {
    word-break: break-all;

}

.ka-cell {
    padding: 4px 10px;
}

@media screen and (max-width:1450px) {

    th,
    td,
    tr,
    table {
        width: 100%;
    }

    .screen-1450px {
        display: none;
    }

}

@media screen and (max-width:1190px) {

    .screen-1190px {
        display: none;
    }


}

@media screen and (max-width:769px) {

    .screen-769px {
        display: none;
    }
}

@media screen and (max-width:426px) {
    .screen-426px {
        display: block;
    }
    .ka-thead{
        display: none;
    }
    .tr {
        border: 1px solid #ccc;
    }

    .td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    .eventType ,.createdBy{
        display: block;
    }

    .title>div::before {
        content: "Title: ";
        font-weight: 700;
    }

    .createdBy>div::before {
        content: "CreatedBy: ";
        font-weight: 700;
    }

   .eventType>div::before {
        content: "Event Type: ";
        font-weight: 700;
    }

    .td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        content: attr(data-column);
        color: #000;
        font-weight: bold;
    }


}
:root {
    --d: #161927;
    --d1: #0f111a;
    --d2: #2b314d;
    --dt: #576ee0;
    --dw: #f5f5f5;
    --dg: #bfc3c2;
  }

.dark :where(.css-dev-only-do-not-override-1rqnfsa).ant-modal .ant-modal-content {
   background-color: var(--d1) ;
   color: var(--dw);
}
.dark :where(.css-dev-only-do-not-override-1rqnfsa).ant-input-outlined {
    background-color: var(--d1) ;
    color: var(--dw);
}

.dark :where(.css-dev-only-do-not-override-1rqnfsa).ant-modal .ant-modal-title{
    background-color: var(--d1) ;
    color: var(--dw);
}
.dark .anticon svg {
    color: var(--dg);
}
.dark :where(.css-dev-only-do-not-override-1rqnfsa).ant-picker.ant-picker-multiple{
    background-color: var(--d1) ;
    color: var(--dw);
}
.dark :where(.css-dev-only-do-not-override-1rqnfsa).ant-picker-outlined{
    background-color: var(--d1) ;
    color: var(--dw);
}
.dark :where(.css-dev-only-do-not-override-1rqnfsa).ant-picker.ant-picker-multiple .ant-picker-selection-item{
    background-color: var(--d2) ;
    color: var(--dw);
}
.dark button, [type='button'], [type='reset'], [type='submit']{
    background-color: var(--d2) ;
    color: var(--dw);
}
.dark .bg-red-600{
    background-color: red;
}
.dark .ant-picker-panel{
    background-color: var(--d1) ;
    color: var(--dw);
    border: #eee 1px solid;
}
.dark .ant-picker-panel td{
    color: var(--dw);
}
.dark :where(.css-dev-only-do-not-override-1rqnfsa).ant-picker-calendar .ant-picker-date-panel .ant-picker-content th{
    color: var(--dw);
}