#btn-continue {
  background-color: #7c3aed;
  border: 0;
}
#btn-continue:hover {
  background-color: #6025c7;
  color: white;
  border: 0;
}

#btn-timeline {
  background-color: #7c3aed;
  border: 0;
}
#btn-timeline:hover {
  background-color: #6025c7;
  color: white;
  border: 0;
}
