.dark
  div.ant-col.ant-col-7.ant-form-item-label.css-dev-only-do-not-override-zl9ks2
  > label {
  color: #f5f5f5f5;
}
.dark
  .ant-col.ant-col-16.ant-form-item-control.css-dev-only-do-not-override-zl9ks2
  > div
  > div
  input {
  background-color: #ede9fe;
}

.dark
  .ant-col.ant-col-16.ant-form-item-control.css-dev-only-do-not-override-zl9ks2
  > div
  > div
  > div
  > div {
  background-color: #ede9fe;
}
.dark form
  > div.lg\:h-96
  > div:nth-child(4)
  > div
  > div.ant-col.ant-col-16.ant-form-item-control.css-dev-only-do-not-override-zl9ks2
  > div
  > div
  > div {
  background-color: #ede9fe;
}
