@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .tin {
    transition: background-color 0.5s cubic-bezier(0.99, 1.56, 0.64, 1);
  }
}
:root {
  --d: #161927;
  --d1: #0f111a;
  --d2: #2b314d;
  --dt: #576ee0;
  --dw: #f5f5f5;
  --dg: #bfc3c2;
}
/* toast fix for dark mode */
.dark .swal2-success-circular-line-right,
.dark .swal2-success-fix,
.dark .swal2-success-circular-line-left {
  display: none;
}
.dark .swal2-top-end.swal2-backdrop-show > div {
  background-color: var(--d2);
}

:where(.css-dev-only-do-not-override-1qhpsh8).ant-modal
  .ant-modal-footer
  > .ant-btn
  + .ant-btn {
  background-color: rgb(124 58 237);
  transition: all 0.1s;
}

:where(.css-dev-only-do-not-override-1qhpsh8).ant-modal
  .ant-modal-footer
  > .ant-btn
  + .ant-btn:hover {
  background-color: rgb(147, 88, 250);
}

.ant-btn.css-dev-only-do-not-override-1qhpsh8.ant-btn-default:hover {
  border-color: rgb(124, 58, 237);
  color: rgb(124, 58, 237);
}
